*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;
}

html, body{
	height: 100%;
}

body{
	background: linear-gradient(to bottom, #000000, #c91414);
}

.title {
	width: 90%;
	height: 250px;
	width: 1200px;
	margin: 0 auto;
	padding: 30px;
	background: #fff;
	display: block;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.titleHead {
	font-size: 90px;
	font-weight: bold;
	background: linear-gradient(to right, #000000, #c91414);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	max-width: 700px;
	text-transform: uppercase;
	line-height: .80;
}

.about1 {
	text-align: center;
	background-color: white;
	display: block;
	width: 500px;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 15px;
}

.about1 h2 {
	font-family: 'Barlow', sans-serif;
	font-style: italic;
	font-size: 35px;
	display: block;
	width: 200px;
	justify-content: center;
	margin: auto;
	padding: 20px;
}

.about2 {
	background-color: rgba(255,255,255,0.5);
	height: 75px;
	width: 700px;
	margin: auto;
}
.about2 p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	text-align: left;
	display: block;
	height: 75px;
	width: 700px;
	padding: 20px;
}
  
#myImg:hover {opacity: 0.7;}

.foto1div img {
	display: block;
	margin: auto;
	padding: 15px 20px 20px;
	width: 150px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	left: 350px;
	top: 450px;
}

.foto1div p {
	font-family: 'Mulish', sans-serif;
	font-size: 14px;
	display: block;
	background-color: white;
	width: 150px;
	margin: auto;
	padding: 10px 20px;
}

.foto1div p.smalltxt {
	color: darkgray;
	text-align: center;
}
